fitness.valentinmouret.io {
    reverse_proxy localhost:5174

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    log {
        output file /var/log/caddy/fitness.log
    }

    reverse_proxy /hooks/* localhost:9000
}
